kagglehub,
flask,
numpy,
cv2,
joblib,
flask-cors,
scikit-learn,
pandas,
matplotlib,
seaborn,
tensorflow,
keras,
torch,
torchvision,
xgboost,                
lightgbm,
catboost,               
scipy,
statsmodels,        
nltk,
spacy,